USE [master]
GO

/****** Object:  Database [quanlythuvien] ******/
CREATE DATABASE [quanlythuvien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlythuvien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\quanlythuvien.mdf' , SIZE = 4352KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'quanlythuvien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\quanlythuvien_log.LDF' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO

-- Tích hợp từ SQLQuery4.sql: Gán quyền Owner cho sa
ALTER AUTHORIZATION ON DATABASE::[quanlythuvien] TO [sa];
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlythuvien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [quanlythuvien]
GO

/****** BẢNG: LoaiSach ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSach](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED ([MaLoai] ASC)
) ON [PRIMARY]
GO

/****** BẢNG: Sach ******/
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](255) NOT NULL,
	[TacGia] [nvarchar](255) NOT NULL,
	[MaLoai] [int] NULL,
	[MaNXB] [int] NULL,
	[NamXuatBan] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[HinhAnh] [nvarchar](50) NOT NULL,
	[SoTrang] [int] NOT NULL,
	[GiaTien] [int] NOT NULL,
	[TinhTrangSach] [nvarchar](300) NOT NULL,
	[GioiThieu] [nvarchar](500) NOT NULL,
	[MaVach] [varchar](20) NULL,
PRIMARY KEY CLUSTERED ([MaSach] ASC)
) ON [PRIMARY]
GO

/****** BẢNG: BanDoc ******/
CREATE TABLE [dbo].[BanDoc](
	[MaBanDoc] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[NgayDangKy] [date] NOT NULL,
	[HinhAnh] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[CCCD] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED ([MaBanDoc] ASC)
) ON [PRIMARY]
GO

/****** BẢNG: GoiYSach ******/
CREATE TABLE [dbo].[GoiYSach](
	[MaGoiY] [int] IDENTITY(1,1) NOT NULL,
	[MaBanDoc] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[DiemGoiY] [decimal](5, 4) NOT NULL,
	[LyDoGoiY] [nvarchar](500) NULL,
	[NgayGoiY] [datetime] NOT NULL,
	[DaXem] [bit] NOT NULL,
	[DaMuon] [bit] NOT NULL,
 CONSTRAINT [PK_GoiYSach] PRIMARY KEY CLUSTERED ([MaGoiY] ASC)
) ON [PRIMARY]
GO

/****** BẢNG: NhaXuatBan ******/
CREATE TABLE [dbo].[NhaXuatBan](
	[MaNXB] [int] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED ([MaNXB] ASC)
) ON [PRIMARY]
GO

/****** VIEW: vw_GoiYSachChiTiet ******/
CREATE VIEW [dbo].[vw_GoiYSachChiTiet]
AS
SELECT 
    gy.MaGoiY, gy.MaBanDoc, bd.HoTen AS TenBanDoc, bd.Email, gy.MaSach, s.TenSach,
    s.TacGia, ls.TenLoai, nxb.TenNXB, s.NamXuatBan, s.SoLuong, s.TinhTrangSach,
    gy.DiemGoiY, CAST(gy.DiemGoiY * 100 AS INT) AS PhanTramPhuHop, gy.LyDoGoiY, gy.NgayGoiY, gy.DaXem, gy.DaMuon
FROM GoiYSach gy
INNER JOIN BanDoc bd ON gy.MaBanDoc = bd.MaBanDoc
INNER JOIN Sach s ON gy.MaSach = s.MaSach
INNER JOIN LoaiSach ls ON s.MaLoai = ls.MaLoai
INNER JOIN NhaXuatBan nxb ON s.MaNXB = nxb.MaNXB
GO

/****** BẢNG: ChiTietPhieuMuon ******/
CREATE TABLE [dbo].[ChiTietPhieuMuon](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuMuon] [int] NULL,
	[MaSach] [int] NULL,
	[NgayTra] [date] NULL,
	[PhiPhat] [decimal](10, 2) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED ([MaChiTiet] ASC)
) ON [PRIMARY]
GO

/****** BẢNG: LichSuCamXuc ******/
CREATE TABLE [dbo].[LichSuCamXuc](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaBanDoc] [int] NOT NULL,
	[TrangThai] [nvarchar](500) NOT NULL,
	[CamXucPhanTich] [nvarchar](100) NOT NULL,
	[DoTinCay] [float] NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[GoiYSachIds] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED ([MaLichSu] ASC)
) ON [PRIMARY]
GO

/****** BẢNG: PhieuMuon ******/
CREATE TABLE [dbo].[PhieuMuon](
	[MaPhieuMuon] [int] IDENTITY(1,1) NOT NULL,
	[MaBanDoc] [int] NULL,
	[NgayMuon] [date] NOT NULL,
	[NgayHenTra] [date] NOT NULL,
	[DaTra] [bit] NULL,
	[NguoiLapPhieu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED ([MaPhieuMuon] ASC)
) ON [PRIMARY]
GO

/****** BẢNG: TaiKhoan ******/
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[LoaiNguoiDung] [nvarchar](50) NOT NULL,
	[MaBanDoc] [int] NULL,
	[SoDienThoai] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__TaiKhoan__AD7C6529173876EA] PRIMARY KEY CLUSTERED ([MaTaiKhoan] ASC)
) ON [PRIMARY]
GO

-- ============================================
-- THÊM DỮ LIỆU BẠN ĐỌC
-- ============================================
SET IDENTITY_INSERT [dbo].[BanDoc] ON 
INSERT [dbo].[BanDoc] ([MaBanDoc], [HoTen], [NgaySinh], [DiaChi], [NgayDangKy], [HinhAnh], [GioiTinh], [Email], [SDT], [CCCD]) VALUES (1, N'Nguyễn Văn A', CAST(N'1990-05-10' AS Date), N'Hà Nội', CAST(N'2025-02-20' AS Date), N'h1.jpg', 1, N'tt10@gmail.com', N'0921137727', N'096204008142')
INSERT [dbo].[BanDoc] ([MaBanDoc], [HoTen], [NgaySinh], [DiaChi], [NgayDangKy], [HinhAnh], [GioiTinh], [Email], [SDT], [CCCD]) VALUES (2, N'Trần Thị B', CAST(N'1995-07-22' AS Date), N'TP.HCM', CAST(N'2025-02-20' AS Date), N'Screenshot 2025-02-19 224837.png', 0, N'tt12@gmail.com', N'0912345678', N'096203717633')
INSERT [dbo].[BanDoc] ([MaBanDoc], [HoTen], [NgaySinh], [DiaChi], [NgayDangKy], [HinhAnh], [GioiTinh], [Email], [SDT], [CCCD]) VALUES (3, N'Lê Văn C', CAST(N'1988-03-15' AS Date), N'Đà Nẵng', CAST(N'2025-02-20' AS Date), N'h3.jpg', 1, N'tt13@gmail.com', N'0938765432', N'096202344145')
SET IDENTITY_INSERT [dbo].[BanDoc] OFF
GO

-- ============================================
-- THÊM DỮ LIỆU LOẠI SÁCH, NXB, SÁCH
-- ============================================
SET IDENTITY_INSERT [dbo].[LoaiSach] ON 
INSERT [dbo].[LoaiSach] ([MaLoai], [TenLoai]) VALUES (1, N'Văn học'), (2, N'Khoa học'), (3, N'Tiểu thuyết'), (4, N'Kinh tế'), (5, N'Lịch sử'), (6, N'Thiếu nhi'), (7, N'Công nghệ'), (8, N'Tâm lý'), (9, N'Nghệ thuật'), (10, N'Y học'), (11, N'Khoa học viễn tưởng'), (12, N'Tâm lý - Kỹ năng sống'), (13, N'Công nghệ thông tin'), (14, N'Kinh doanh'), (15, N'Trinh thám'), (16, N'Văn học Việt Nam'), (17, N'Y học - Sức khỏe')
SET IDENTITY_INSERT [dbo].[LoaiSach] OFF
GO

SET IDENTITY_INSERT [dbo].[NhaXuatBan] ON 
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB]) VALUES (1, N'NXB Trẻ'), (2, N'NXB Kim Đồng'), (3, N'NXB Giáo dục'), (4, N'NXB Văn học'), (5, N'NXB Lao động'), (6, N'NXB Khoa học'), (7, N'NXB Tư duy'), (8, N'NXB Mỹ thuật'), (9, N'NXB Y học'), (10, N'NXB Công nghệ'), (11, N'NXB Tổng hợp TP.HCM'), (12, N'NXB Giáo Dục Việt Nam')
SET IDENTITY_INSERT [dbo].[NhaXuatBan] OFF
GO

SET IDENTITY_INSERT [dbo].[Sach] ON 
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [MaLoai], [MaNXB], [NamXuatBan], [SoLuong], [HinhAnh], [SoTrang], [GiaTien], [TinhTrangSach], [GioiThieu], [MaVach]) VALUES (1, N'Bí Ẩn Dưới Đại Dương', N'Nguyễn Hoàng Nam', 2, 6, 2021, 98, N'h1.jpg', 320, 150000, N'Còn', N'Khám phá những bí ẩn dưới đáy biển', N'8936067597931')
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [MaLoai], [MaNXB], [NamXuatBan], [SoLuong], [HinhAnh], [SoTrang], [GiaTien], [TinhTrangSach], [GioiThieu], [MaVach]) VALUES (2, N'Thế Giới Kỳ Diệu', N'Trần Thanh Tâm', 6, 2, 2019, 150, N'h2.jpg', 280, 150000, N'Còn', N'Câu chuyện hấp dẫn cho thiếu nhi', N'8935244843232')
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [MaLoai], [MaNXB], [NamXuatBan], [SoLuong], [HinhAnh], [SoTrang], [GiaTien], [TinhTrangSach], [GioiThieu], [MaVach]) VALUES (3, N'Chiến Lược Kinh Doanh 4.0', N'Lê Minh Tuấn', 4, 5, 2020, 2, N'h3.jpg', 300, 180000, N'Còn', N'Bí quyết thành công trong thời đại số', N'8935280900265')
-- Các sách thêm từ Query 3 (Đã có trong gốc)
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO

-- ============================================
-- THÊM DỮ LIỆU TÀI KHOẢN (Đã băm)
-- ============================================
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [Email], [MatKhau], [LoaiNguoiDung], [MaBanDoc], [SoDienThoai]) VALUES (1, N'admin1', N'tt10@gmail.com', N'PBKDF2_SHA256$100000$UQkRM01+Dv/Nn++kpofgUQ==$7qurlRLHZ2O9Zq6luRhQqvIYBGFOcvm4RJIwCFIl95M=', N'Admin', 1, N'0921137727')
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [Email], [MatKhau], [LoaiNguoiDung], [MaBanDoc], [SoDienThoai]) VALUES (2, N'admin2', N'noemail@example.com', N'PBKDF2_SHA256$100000$a+OWk4mZARhSbyExHmcdHA==$TFHwjxjNnqFBUL8o+nSZ0gcdOf979wsVKQaeLtyA9Yo=', N'Admin', 2, N'0912345678')
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [Email], [MatKhau], [LoaiNguoiDung], [MaBanDoc], [SoDienThoai]) VALUES (8, N'bandoc1', N'noemail@example.com', N'PBKDF2_SHA256$100000$3mmPUc9jbMRHZeGdTnj4Vw==$WCmuZ9PZ8jmkTXGqbdm6xONE/cdZzDBt0/NAMzwPbjM=', N'Bạn đọc', 8, N'0887654321')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO

-- ============================================
-- RÀNG BUỘC VÀ KHÓA NGOẠI
-- ============================================
ALTER TABLE [dbo].[LoaiSach] ADD UNIQUE NONCLUSTERED ([TenLoai] ASC) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NhaXuatBan] ADD UNIQUE NONCLUSTERED ([TenNXB] ASC) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Sach_MaVach] ON [dbo].[Sach] ([MaVach] ASC) WHERE ([MaVach] IS NOT NULL) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD CONSTRAINT [UQ__TaiKhoan__55F68FC01A14E395] UNIQUE NONCLUSTERED ([TenDangNhap] ASC) ON [PRIMARY]
GO

ALTER TABLE [dbo].[BanDoc] ADD DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon] ADD DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon] ADD DEFAULT ((0)) FOR [PhiPhat]
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon] ADD CONSTRAINT [DF_ChiTietPhieuMuon_SoLuong] DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[GoiYSach] ADD DEFAULT ((0)) FOR [DaXem]
GO
ALTER TABLE [dbo].[GoiYSach] ADD DEFAULT ((0)) FOR [DaMuon]
GO
ALTER TABLE [dbo].[LichSuCamXuc] ADD DEFAULT ((0.5)) FOR [DoTinCay]
GO
ALTER TABLE [dbo].[LichSuCamXuc] ADD DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[PhieuMuon] ADD DEFAULT (getdate()) FOR [NgayMuon]
GO
ALTER TABLE [dbo].[PhieuMuon] ADD DEFAULT ((0)) FOR [DaTra]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD DEFAULT ('') FOR [SoDienThoai]
GO

ALTER TABLE [dbo].[ChiTietPhieuMuon] WITH CHECK ADD FOREIGN KEY([MaPhieuMuon]) REFERENCES [dbo].[PhieuMuon] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon] WITH CHECK ADD FOREIGN KEY([MaSach]) REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[GoiYSach] WITH CHECK ADD CONSTRAINT [FK_GoiYSach_BanDoc] FOREIGN KEY([MaBanDoc]) REFERENCES [dbo].[BanDoc] ([MaBanDoc])
GO
ALTER TABLE [dbo].[GoiYSach] WITH CHECK ADD CONSTRAINT [FK_GoiYSach_Sach] FOREIGN KEY([MaSach]) REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[LichSuCamXuc] WITH CHECK ADD CONSTRAINT [FK_LichSuCamXuc_BanDoc] FOREIGN KEY([MaBanDoc]) REFERENCES [dbo].[BanDoc] ([MaBanDoc]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuMuon] WITH CHECK ADD FOREIGN KEY([MaBanDoc]) REFERENCES [dbo].[BanDoc] ([MaBanDoc])
GO
ALTER TABLE [dbo].[Sach] WITH CHECK ADD FOREIGN KEY([MaLoai]) REFERENCES [dbo].[LoaiSach] ([MaLoai])
GO
ALTER TABLE [dbo].[Sach] WITH CHECK ADD FOREIGN KEY([MaNXB]) REFERENCES [dbo].[NhaXuatBan] ([MaNXB])
GO
ALTER TABLE [dbo].[TaiKhoan] WITH CHECK ADD CONSTRAINT [FK__TaiKhoan__MaBanD__1BFD2C07] FOREIGN KEY([MaBanDoc]) REFERENCES [dbo].[BanDoc] ([MaBanDoc])
GO

-- ============================================
-- STORED PROCEDURES
-- ============================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LayGoiYTheoBanDoc] @MaBanDoc INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM vw_GoiYSachChiTiet WHERE MaBanDoc = @MaBanDoc ORDER BY DiemGoiY DESC, NgayGoiY DESC
END
GO

CREATE PROCEDURE [dbo].[sp_ThongKeGoiY]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT COUNT(*) AS TongSoGoiY, COUNT(DISTINCT MaBanDoc) AS SoBanDocCoGoiY, COUNT(DISTINCT MaSach) AS SoSachDuocGoiY,
    SUM(CASE WHEN DaXem = 1 THEN 1 ELSE 0 END) AS SoGoiYDaXem, SUM(CASE WHEN DaMuon = 1 THEN 1 ELSE 0 END) AS SoGoiYDaMuon,
    AVG(DiemGoiY) AS DiemGoiYTrungBinh, MAX(NgayGoiY) AS LanGoiYGanNhat FROM GoiYSach
END
GO

CREATE PROCEDURE [dbo].[sp_XoaGoiYCu] @SoNgayGiu INT = 30
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @NgayXoa DATETIME = DATEADD(DAY, -@SoNgayGiu, GETDATE())
    DELETE FROM GoiYSach WHERE NgayGoiY < @NgayXoa
    SELECT @@ROWCOUNT AS SoLuongDaXoa
END
GO

-- ============================================
-- TÍCH HỢP TỪ SQLQUERY2.SQL: TRIGGERS
-- ============================================
CREATE TRIGGER [dbo].[TRG_GiamSoLuongSach]
ON [dbo].[ChiTietPhieuMuon]
AFTER INSERT
AS
BEGIN
    UPDATE Sach
    SET Sach.SoLuong = Sach.SoLuong - i.SoLuong 
    FROM Sach
    INNER JOIN inserted i ON Sach.MaSach = i.MaSach;
    
    IF EXISTS (SELECT 1 FROM Sach WHERE SoLuong < 0)
    BEGIN
        RAISERROR (N'Lỗi: Sách này hiện đã hết hoặc không đủ số lượng trong kho!', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;
GO

CREATE TRIGGER [dbo].[TRG_CapNhatTrangThaiPhieuMuon]
ON [dbo].[ChiTietPhieuMuon]
AFTER UPDATE
AS
BEGIN
    IF UPDATE(NgayTra)
    BEGIN
        UPDATE PhieuMuon
        SET DaTra = 1
        WHERE MaPhieuMuon IN (SELECT MaPhieuMuon FROM inserted)
        AND NOT EXISTS (
            SELECT 1 FROM ChiTietPhieuMuon 
            WHERE MaPhieuMuon = PhieuMuon.MaPhieuMuon AND NgayTra IS NULL
        );
    END
END;
GO

-- ============================================
-- TÍCH HỢP TỪ SQLQUERY3.SQL: RESET MẬT KHẨU
-- ============================================
UPDATE TaiKhoan
SET MatKhau = CONCAT('Tv@', TenDangNhap, COALESCE(RIGHT(SoDienThoai, 4), '0000'))
WHERE TenDangNhap IS NOT NULL;
GO

USE [master]
GO